/*
* @Author: 凛冬
* @Date:   2019-02-14
 * @Last Modified by: YukiMuraRindon
 * @Last Modified time: 2019-07-04 09:03:10
*/
html{
	min-width: 740px;
}
#Header{
	height: 61px;
	text-align: center;
	background-color: #545c64;
	min-width:740px;
}
#banner{
	background-color: #545c64;
	width: 740px;
	height: 61px;
}
#title{
	color: #FFFFFF;
	display: inline-block;
	text-align: left;
	text-align: center;
	padding-top: 15px;;
	padding-left: 15px;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 740px;
	height: 61px;
}
#Search{
	width: 740px;
	padding-left: 205px;
	padding-top: 20px;
	float:center;
}
#Result{
	width: 740px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-top: 20px;
}
a{
	text-decoration:none;
}
#footer{
	height: 61px;
	padding-top: 15px;;
	padding-left: 15px;
	font-size: 15px;
	color: #FFFFFF;
	background-color: #545c64;
	position:fixed;
	bottom:0px;
	left:0px;
	width: 100%;
	float: center;
}
a:link { 
	color:#FFFFFF; 
	text-decoration:underline; 
	text-decoration: none;
	} 
a:visited { 
	color:#FFFFFF; 
	text-decoration:none; 
	
	} 
a:hover { 
	color:#FFFFFF; 
	text-decoration:none; 
	} 
a:active { 
	color:#FFFFFF; 
	text-decoration:none; 
	} 