/*
* @Author: 凛冬
* @Date:   2019-02-14
* @Last Modified by:   凛冬
* @Last Modified time: 2019-02-14
*/
html{
	min-width: 740px;
}
#Header{
	height: 61px;
	text-align: center;
	background-color: #545c64;
}
#title{
	color: #FFFFFF;
	display: inline-block;
	text-align: left;
	float: left;
	text-align: center;
	padding-top: 15px;;
	padding-left: 15px;
	font-size: 20px;
	width:190px;
}
#menu{
	margin-left: auto;
	margin-right: auto;
	width: 740px;
	height: 61px;
}
#Search{
	width: 700px;
	padding-left: 205px;
	padding-top: 20px;
}
#Result{
	width: 740px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-top: 20px;
}
a{
	text-decoration:none;
}