<!--
* @Author: 凛冬
* @mail:   2019-02-12
* @Last Modified by:   凛冬
* @Last Modified time: 2019-02-14
-->
<!DOCTYPE html>
<html>
<head>
	<title>泄露数据查询系统</title>
	<meta charset="utf-8">
	<!--引入element2.4.6样式-->
	<link rel="stylesheet" href="css/element.css">
	<!--引入vue2.5.17框架-->
	<script src="js/vue.min.js"></script>
	<!--引入element2.4.6组件-->
  <script src="js/element.js"></script>
  <script src="js/vue-resource.min.js"></script>
  <script src="js/md5.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div>
  <div id="Header">
    <div style="width:1160px">
      <div id="title">泄露数据查询系统</div>
    <div id="menu">
    <el-menu
      default-active="4"
      mode="horizontal"
      background-color="#545c64"
      text-color="#fff"
      active-text-color="#ffd04b">
      <el-menu-item index="1"><a href="index.html">密码查询</a></el-menu-item>
      <el-menu-item index="2"><a href="email.html">邮箱查询</a></el-menu-item>
      <el-menu-item index="3"><a href="user.html">用户名查询</a></el-menu-item>
      <el-menu-item index="4"><a href="others.html">其他数据查询</a></el-menu-item>
    </el-menu>
    </div>
  </div>
  </div>
  <div id="Search">
    <el-form ref="form" :model="form" label-width="80px">
    <el-form-item label="待查邮箱">
      <el-input v-model="form.email" placeholder="请输入要查询的邮箱"></el-input>
    </el-form-item>
    <el-form-item label="数据库">
    <template>
      <el-select v-model="form.value" placeholder="请选择">
        <el-option
          v-for="item in form.dbs"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
    </template>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="Submit()">精确查询</el-button>
      <el-button type="primary" @click="Submit1()">模糊查询</el-button>
      <el-button type="primary" @click="doReset()">重置</el-button>
      <el-button type="primary" @click="prompt()">提示</el-button>
    </el-form-item>
  </el-form>
    <template>
      <el-table 
        :data="form.resultData" 
        height="580" 
        border 
        style="width: 100%">
          <el-table-column 
            prop="Name" 
            label="姓名" 
            width="180">
          </el-table-column>
          <el-table-column 
          prop="Address" 
          label="地址">
          </el-table-column>
          <el-table-column 
          prop="Phone" 
          label="电话号码">
          </el-table-column>
          <el-table-column 
          prop="Email" 
          label="邮箱">
          </el-table-column>
      </el-table>
    </template>
</div>
<div id="footer">
    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span style="display:inline"><a href="../index.html">网站首页</a></span><span style="display:inline"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp| &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="https://github.com/YukiMuraRindon">关于我们</a></span> <span style="display:inline"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp| &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="Mailto:rinndonn@outlook.com">联系我们</a></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp | &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span style="display:inline">当前时间：<span style="display:inline" id="show"></span></p>
</div>
</body>
<script src="js/others.js"></script>
<script type="text/javascript"> 
    window.onload = function() {  
    var show = document.getElementById("show");  
    setInterval(function() {   
    var time = new Date();      
    var m = time.getMonth() + 1;   
    var t = time.getFullYear() + "-" + m + "-"     
    + time.getDate() + " " + time.getHours() + ":"     
    + time.getMinutes() + ":" + time.getSeconds();   
    show.innerHTML = t;  
    }, 1000); 
    };
</script>
</html>